@import '../../../../assets/styles/colors'

#tooltip
  background: mix(white, $powderBlue, 50%)
  color: hsla(0, 0, 50%, 0.8)
  font-weight: bold
  padding: 4px 8px
  font-size: 13px
  border-radius: 4px

  #arrow,
  #arrow::before
    position: absolute
    width: 8px
    height: 8px
    background: inherit

  #arrow
    visibility: hidden

  #arrow::before
    visibility: visible
    content: ''
    transform: rotate(45deg)

  &[data-popper-placement^='top'] > #arrow
    bottom: -4px

  &[data-popper-placement^='bottom'] > #arrow
    top: -4px

  &[data-popper-placement^='left'] > #arrow
    right: -4px

  &[data-popper-placement^='right'] > #arrow
    left: -4px
