<label [ngClass]="['is-checkbox', size, 'is-warning']">
  <input id="mycheckbox" type="checkbox" [value]="value" [checked]="checked">
  <span  [ngClass]="['icon', size, 'checkmark']">
    <i class="fa fa-check"></i>
  </span>
  <span>{{label}}</span>
</label>
