<div class="title is-flex is-justify-content-space-between">
  <span class="is-size-4-mobile">Doses disponíveis</span>
  <button (click)="getDisponiveis()" class="button is-success has-text-dark is-pulled-right">
    <span class="icon">
      <i class="fa fa-sync"></i>
    </span>
  </button>
</div>
<div class="content is-flex-grow-1 is-flex is-flex-direction-column" style="position: relative;">
  <app-loading [isLoading]="isLoading"></app-loading>
  <div *ngIf="retorno && retorno.sucesso; else erroRequisicao" class="table-content is-flex-grow-1 is-flex is-flex-direction-column is-justify-content-space-between">
    <div *ngIf="retorno.data.length > 0; else semDados" class="table-container">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th title="Local">Local</th>
            <th title="Tipo">Grupo</th>
            <th title="Dose">Dose</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let disponivel of dadosPaginados">
            <td>{{disponivel.local.local}}</td>
            <td>{{disponivel.grupo.texto}}</td>
            <td>{{disponivel.grupo.dose == 1 ? '1ª Dose' : '2ª Dose'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #semDados>
      <div class="is-flex is-flex-direction-column">
        <p class="is-size-5 is-size-5-mobil6 has-text-primary has-text-centered is-align-self-center">Nenhuma vacina disponível :(</p>
        <p class="is-size-4 is-size-5-mobile has-text-centered is-align-self-center">Mas não tem problema, faça sua inscrição e receba notificações sobre novas doses quando estivem disponíveis.</p>
        <img class="image is-align-self-center" src="/assets/svg/undraw_empty.svg" alt="" width="256px" height="256px">
      </div>
    </ng-template>
    <nav class="pagination" role="navigation" aria-label="pagination">
      <button (click)="paginar(paginaAtual - 1)" [disabled]="(paginaAtual - 1) < 1" class="pagination-previous has-background-warning" title="This is the first page">Anterior</button>
      <button (click)="paginar(paginaAtual + 1)" [disabled]="(paginaAtual + 1) > qtdPaginas" class="pagination-next has-background-warning">Próxima</button>
    </nav>
  </div>
  <ng-template #erroRequisicao>
    <div *ngIf="!isOnline; else erroServidor" class="is-flex is-flex-direction-column">
      <p class="is-size-5 is-size-5-mobil6 has-text-primary has-text-centered is-align-self-center">Parece que você está offline :/</p>
      <p class="is-size-4 is-size-5-mobile has-text-centered is-align-self-center">Se inscreva e seja notificado sobre novas doses disponíveis quando estiver conectado!</p>
      <img class="image is-align-self-center" src="/assets/svg/undraw_cancel.svg" alt="" width="256px" height="256px">
    </div>
    <ng-template #erroServidor>
      <div class="is-flex is-flex-direction-column">
        <p class="is-size-5 is-size-5-mobil6 has-text-primary has-text-centered is-align-self-center">{{ retorno ? retorno.userErro?.mensagem : 'Não foi possível se comunicar com o servidor'}}</p>
        <p class="is-size-4 is-size-5-mobile has-text-centered is-align-self-center">Faça sua inscrição e receba notificações sobre novas doses disponíveis após a normalização.</p>
        <img class="image is-align-self-center" src="/assets/svg/undraw_server_down.svg" alt="" width="256px" height="256px">
      </div>
    </ng-template>
  </ng-template>
</div>
