<ng-container *ngIf="exibir" >
  <div class="overlay">
    <div class="panel notification">
      <div class="is-flex is-flex-direction-column">
        <p class="is-size-5 is-size-5-mobil6 has-text-primary has-text-centered is-align-self-center">Permissão negada!</p>
        <p class="is-size-4 is-size-5-mobile has-text-centered is-align-self-center">Conceda a permissão e tente novamente.</p>
        <img class="image is-align-self-center" src="/assets/svg/undraw_notify.svg" alt="" width="128px" height="128px">
        <div class="buttons is-justify-content-center mt-4">
          <button (click)="exibir = false" class="button is-small is-link">Entendi</button>
        </div>
      </div>
    </div>
    <div class="backdrop"></div>
  </div>
</ng-container>
