@import '../../../../assets/styles/colors.scss';

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  .panel {
    position: relative;

    z-index: 2;

    background-color: white;
    opacity: 1;

    display: flex;
    flex-direction: column;

    padding: 25px;

    &.notification {
      width: 80%;
      height: auto;

      .request-text{
        text-align: center;
        font-size: 1.5rem;
      }
    }
  }

  &:last-child .backdrop {
    position: absolute;

    width: 100%;
    height: 100%;

    z-index: 1;

    background-color: $eggShell;
    opacity: 0.85;
  }
}
