<p class="title is-size-4-mobile">Notificação</p>
<p class="subtitle">faça sua inscrição para receber notificações sobre novas doses</p>
<div class="content" *ngIf="userSubscription">
  <form class="box">
    <div class="field">
      <label class="label">Selecione a(s) dose(s)</label>
      <div class="field is-grouped">
        <app-checkbox *ngFor="let dose of doses" (change)="toggleDose(dose.value)" class="control" [label]="dose.label" [value]="dose.value" [checked]="userSubscription.doses.includes(dose.value)"></app-checkbox>
      </div>
    </div>
    <div class="field">
      <label class="label">Selecione o(s) grupo(s)</label>
      <div class="columns is-mobile is-multiline is-centered">
        <app-checkbox *ngFor="let tipo of tipos" class="column" (change)="toggleGrupo(tipo.value)" [label]="tipo.label" [value]="tipo.value" [checked]="userSubscription.tipos.includes(tipo.value)"></app-checkbox>
      </div>
    </div>
  </form>
  <div class="field is-flex is-justify-content-flex-end">
    <div class="control mr-4">
      <button *ngIf="this.userSubscription.subscription" class="button is-outlined is-primary" [ngClass]="{'is-loading': undoSubscribeLoading}" (click)="sendPushUnsubscribe()">Cancelar</button>
    </div>
    <div class="control">
      <button [disabled]="userSubscription.doses.length == 0 || userSubscription.tipos.length == 0" class="button is-link has-text-dark" [ngClass]="{'is-loading': subscribeLoading}" (click)="sendPushSubscribe()">{{userSubscription.subscription ? 'Atualizar' : 'Criar'}}</button>
    </div>
  </div>
</div>

<app-modal-notificacao [exibir]="permissaoNegada"></app-modal-notificacao>
