<section class="section">
  <div class="columns is-mobile-column-reverse">
    <div class="column tile is-parent is-6 is-info">
      <tile-info class="tile is-child is-flex is-flex-direction-column"></tile-info>
    </div>
    <div class="column tile is-parent is-6">
      <tile-form class="tile is-child notification is-success"></tile-form>
    </div>
  </div>
</section>
