<footer class="footer">
    <div class="level">
      <p class="level-item has-text-centered">
        <a class="link" href="https://bitbucket.org/covidvacmonitor/workspace/projects/CVM" target="_blank">
          <div class="icon-text">
            <span class="icon">
              <i class="fab fa-bitbucket"></i>
            </span>
            <span>Código Fonte</span>
          </div>
        </a>
      </p>
      <p class="level-item has-text-centered">
        <span>
          Feito por <a target="_blank" class="link" href="https://www.linkedin.com/in/douglasssousa/"> Douglas Silva </a> com <span class="icon has-text-primary"><i class="fas fa-heart"></i></span>
        </span>
      </p>
      <p class="level-item has-text-centered">
        <a class="link" href="mailto:douglass.sousa@outlook.com.br?subject=Monitor de vacina Covid">
          <div class="icon-text">
            <span class="icon">
              <i class="fa fa-envelope"></i>
            </span>
            <span>Contato</span>
          </div>
        </a>
      </p>
    </div>
  </footer>
