$dutchWhite: #DDD8B8;
$cambridgeBlue: #B3CBB9;
$pewterBlue: #84A9C0;
$darkBlueGray: #6A66A3;
$eminence: #542E71;

$melon: #FFA69E;
$eggShell: #FAF3DD;
$aeroBlue: #B8F2E6;
$powderBlue: #AED9E0;
$blackCoral: #5E6472;
