// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200;400&display=swap');

// 2. Set your own initial variables
// Update blue
$blue: $powderBlue;
$green: $aeroBlue;
$yellow: $eggShell;
$red: $melon;
$dark: $blackCoral;
// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;
$family-cursive: "Mali", cursive;

// 3. Set the derived variables
$primary: $red;
$primary-invert: findColorInvert($red);;
$link: $blue;
$link-invert: findColorInvert($blue);
$warning: $yellow;
$warning-invert: findColorInvert($yellow);
$success: $green;
$success-invert: findColorInvert($green);
// Use the new serif family
$family-primary: $family-cursive;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "~bulma/sass/utilities/derived-variables";
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);


// Pagination
$pagination-border-color: $warning;

// 6. Import the rest of Bulma
@import "~bulma/bulma";

// Custom checkbox
@import './custom-bulma-checkboxes.scss';

// Custom Styles based on Bulma
@import './custom-styles.scss';
